/* PostList.css */

ul {
    list-style-type: none;
    padding: 0;
  }

  .home-content{
    display: flex;
    width: 100vw;
    justify-content: space-between;
  }
  
  .post-container {
    border-bottom: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .post-title {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: left;
    color: #03b1fc ;
  }

  .font-view-ans-score{
    color: rgb(158, 157, 157);
    
  }
  
  .post-link {
    text-decoration: none;
    color: #03b1fc ;
  }
  
  .post-tags {
    color: lightgray;
    border-radius: 10px;
    border: 2px solid lightgray;
    padding:2px 5px 2px 5px;
    margin-right: 5px;
  }
  
  .post-info {
    font-size: 14px;
    color: #6C757D;
  }
  
  .post-view-count,
  .post-answer-count,
  .post-score {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    align-self: center ;
    text-align: center;
    padding: 7px;
    
  }
  
  .mb3{
    margin-bottom: 10px;
  }
  
  .post-view-count:hover,
  .post-answer-count:hover,
  .post-score:hover {
    transition:  0.3s ease-in-out;
    color: rgba(28, 192, 13, 0.5);
    border: 3px solid rgba(155, 245, 147, 0.5); /* Adjust the color as needed */
    box-shadow: 10px 5px 10px rgba(155, 245, 147, 0.5); /* Add a subtle box shadow */
  }
  
  .center-container{
    width: auto;
  }
  
  .question-tag-title{
    background-color: white;
    
    padding: 5px 13px 5px 13px;
    border-radius: 10px;
    margin-right: 25px;
    font-size: 15px;
  }
  .question-tag-non-orange{
    background-color: rgb(214, 139, 0);
    color: white;
    padding: 3px 10px 3px 10px;
    border-radius: 10px;
    margin-right: 25px;
    font-size: 15px;
 
  }